// Define theme colors
$wine: hsl(346%, 47%, 29%); // dark red
$ming: hsl(190%, 69%, 28%); // petrol blue
$cosmic-cobalt: hsl(246%, 46%, 37%); // dark blue

$gunmetal: hsl(231%, 12%, 21%); // dark grey
$grey: hsl(231%, 12%, 55%); // lighter dark grey
$selective-yellow: hsl(45%, 99%, 49%); // yellow
$red: hsl(352%, 76%, 43%); // red

$grey-lighter: hsl(0, 0%, 86%);
$grey-dark: $grey;
$grey-darker: $gunmetal;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$link: $ming;
$info: $cosmic-cobalt;
$warning: $selective-yellow;
$primary: $ming;
$danger: $red;

$navbar-item-color: $ming;


// Update some of Bulma's component variables
$input-border-color: transparent;
$input-shadow: none;

$tag-background-color: $grey-lighter;
$input-placeholder-color: $grey-dark;

$radius: 0;

@import "../node_modules/bulma/bulma.sass";

@media screen and (min-width:769px){
    .section {
        padding: 1.5rem 3rem;
    }
}

.section {
    padding: 1.5rem;
}

.button, .button.is-small {
    border-radius: 0;
}
